@import "reset.css";
@import "base.css";
@import "commponents/swiper-bundle.min.css";
@import "../fonts/fonts.css";
.header {
  position: relative;
  height: 100vh;
}
.header__hover {
  display: flex;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 91px;
  max-height: 91px;
  background-color: #ffffff;
  opacity: 0;
  transition: opacity 0.5s;
}
.header__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
}
.header__top {
  height: 91px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__top:hover .header__hover {
  opacity: 1;
  transition: opacity 0.5s;
  -webkit-animation: scale-up-ver-top 0.6s cubic-bezier(0.22, 1, 0.36, 1) both 0.1s;
          animation: scale-up-ver-top 0.6s cubic-bezier(0.22, 1, 0.36, 1) both 0.1s;
}
.header__top:hover .logo_top {
  fill: #333333;
  transition: 0.3s;
}
.header__top:hover .logo_end {
  fill: #b0976e;
  transition: 0.3s;
}
.header__top:hover .header__form {
  border-color: rgba(51, 51, 51, 0.3);
  transition: 0.3s;
}
.header__top:hover .search_logo, .header__top:hover .cart_logo, .header__top:hover .user_logo_cir {
  stroke: #333333;
  transition: 0.3s;
}
.header__top:hover .search_logo_rec, .header__top:hover .user_logo {
  fill: #333333;
  transition: 0.3s;
}
.header__top:hover .catalog_link {
  color: #b0976e;
  transition: 0.3s;
}
.header__top:hover .header_link {
  color: #333333;
  transition: 0.3s;
}
.header__top:hover .header__burger_line, .header__top:hover .header__burger::after, .header__top:hover .header__burger::before {
  background-color: #333333;
  transition: 0.3s;
}
.header__start {
  display: flex;
  align-items: center;
}
.header__logo {
  width: 92px;
  height: 45px;
  margin-right: 58px;
}
.header__logo svg {
  width: 100%;
  height: 100%;
}
.header__list {
  display: flex;
  gap: 35px;
}
.header__item {
  display: flex;
  align-items: center;
}
.header__item_img {
  display: flex;
  padding-bottom: 1px;
  margin-right: 9px;
}
.header__item_link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  transition: 0.3s;
}
.header__item:first-child {
  padding-top: 40px;
  padding-bottom: 40px;
}
.header__item:first-child:hover .dropdown {
  display: flex;
  opacity: 1;
  transition: opacity 0.4s cubic-bezier(0.22, 1, 0.36, 1);
  -webkit-animation: scale-up-ver-top 0.6s cubic-bezier(0.22, 1, 0.36, 1) both 0.1s;
          animation: scale-up-ver-top 0.6s cubic-bezier(0.22, 1, 0.36, 1) both 0.1s;
}
.header__item:first-child svg {
  width: 10px;
  height: 10px;
}
.header__end {
  display: flex;
  align-items: center;
}
.header__form {
  position: relative;
  width: 219px;
  height: 34px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  margin-right: 15px;
}
.header__form input {
  cursor: text;
  width: 100%;
  height: 100%;
  padding: 0px 10px;
  background-color: transparent;
}
.header__form svg {
  position: absolute;
  top: 9px;
  right: 9px;
}
.header__user, .header__cart {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.header__cart {
  position: relative;
  margin-left: 8px;
}
.header__cart span {
  width: 18px;
  height: 19px;
  position: absolute;
  top: 0;
  right: 0;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #bf5151;
  border-radius: 50%;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
}
.header__burger {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: transparent;
  margin-left: 50px;
  cursor: pointer;
}
.header__burger_line {
  position: absolute;
  left: 11px;
  top: 19px;
  width: 14px;
  max-width: 14px;
  height: 2px;
  background-color: white;
  transition: opacity 0.3s ease-in-out;
}
.header__burger::before, .header__burger::after {
  content: "";
  position: absolute;
  left: 11px;
  width: 18px;
  max-width: 18px;
  height: 2px;
  background-color: white;
}
.header__burger::before {
  top: 12px;
}
.header__burger::after {
  bottom: 12px;
}
.header__text {
  width: 100%;
  height: 93%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.header__title {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 90px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.header__descr {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 64px;
}

.dropdown {
  display: none;
  position: absolute;
  max-height: 230px;
  top: 91px;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.22, 1, 0.36, 1);
}
.dropdown__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 40px 90px;
}
.dropdown__list {
  display: grid;
  gap: 18px;
  font-family: "Open Sans";
  font-weight: 400;
}
.dropdown__title {
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgba(119, 119, 119, 0.7);
  margin-bottom: 5px;
  cursor: default;
}
.dropdown__item {
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #333333;
}
.dropdown__list:nth-child(3) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.dropdown__list:nth-child(3) .dropdown__title {
  grid-column: span 2;
}
.dropdown__offer {
  width: 300px;
  height: 140px;
}
.dropdown__offer > img {
  width: 100%;
  height: 100%;
}

.burger--active::before {
  -webkit-animation: rotate-burger-before 0.6s cubic-bezier(0.22, 1, 0.36, 1) forwards 0.4s, burger-anim 0.4s cubic-bezier(0.22, 1, 0.36, 1) none;
          animation: rotate-burger-before 0.6s cubic-bezier(0.22, 1, 0.36, 1) forwards 0.4s, burger-anim 0.4s cubic-bezier(0.22, 1, 0.36, 1) none;
}

.burger--active .header__burger_line {
  -webkit-animation: burger-anim 0.4s cubic-bezier(0.22, 1, 0.36, 1) both 0.1s;
          animation: burger-anim 0.4s cubic-bezier(0.22, 1, 0.36, 1) both 0.1s;
}

.burger--active::after {
  -webkit-animation: rotate-burger-after 0.7s cubic-bezier(0.22, 1, 0.36, 1) forwards 0.4s, burger-anim 0.4s cubic-bezier(0.22, 1, 0.36, 1) none 0.1s;
          animation: rotate-burger-after 0.7s cubic-bezier(0.22, 1, 0.36, 1) forwards 0.4s, burger-anim 0.4s cubic-bezier(0.22, 1, 0.36, 1) none 0.1s;
}

.rotate-anim {
  -webkit-animation: rotate-anim 1.5s linear infinite both;
          animation: rotate-anim 1.5s linear infinite both;
}

.burger-anim {
  -webkit-animation: burger-anim 0.6s cubic-bezier(0.22, 1, 0.36, 1) both;
          animation: burger-anim 0.6s cubic-bezier(0.22, 1, 0.36, 1) both;
}

@-webkit-keyframes rotate-anim {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-anim {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes burger-anim {
  0% {
    transform: scaleX(1);
    transform-origin: 0% 100%;
  }
  100% {
    transform: scaleX(0);
    transform-origin: 0% 100%;
  }
}
@keyframes burger-anim {
  0% {
    transform: scaleX(1);
    transform-origin: 0% 100%;
  }
  100% {
    transform: scaleX(0);
    transform-origin: 0% 100%;
  }
}
@-webkit-keyframes rotate-burger-before {
  0% {
    transform: rotate(0);
  }
  100% {
    top: 50%;
    transform: rotate(-45deg);
  }
}
@keyframes rotate-burger-before {
  0% {
    transform: rotate(0);
  }
  100% {
    top: 50%;
    transform: rotate(-45deg);
  }
}
@-webkit-keyframes rotate-burger-after {
  0% {
    transform: rotate(0);
  }
  100% {
    bottom: auto;
    top: 50%;
    transform: rotate(45deg);
  }
}
@keyframes rotate-burger-after {
  0% {
    transform: rotate(0);
  }
  100% {
    bottom: auto;
    top: 50%;
    transform: rotate(45deg);
  }
}
@-webkit-keyframes scale-up-ver-top {
  0% {
    transform: scaleY(0);
    transform-origin: 100% 0%;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }
}
@keyframes scale-up-ver-top {
  0% {
    transform: scaleY(0);
    transform-origin: 100% 0%;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }
}
@media (max-width: 1650px) {
  .header__title {
    font-size: 72px;
  }

  .header__descr {
    font-size: 14px;
  }

  .dropdown__wrapper {
    max-width: 1400px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 1024px;
    padding: 0px 40px;
  }

  .dropdown__wrapper {
    max-width: 1024px;
    padding: 70px 40px;
  }
}
@media (max-width: 950px) {
  .header {
    height: 446px;
  }

  .container {
    max-width: 768px;
    padding: 0px 20px;
  }

  .header__nav, .header__form {
    display: none;
  }
  .header__title {
    font-size: 63px;
    margin-bottom: 40px;
  }
  .header__descr {
    margin-bottom: 54px;
  }
}
.collection__title {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 120px;
}
.collection__descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #777777;
  margin-top: 40px;
}
.collection__gallery {
  margin-top: 100px;
  margin-bottom: 120px;
}
.collection__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
}
.collection__item {
  position: relative;
  width: 100%;
  height: 825px;
}
.collection__item_img {
  width: 100%;
  height: 100%;
}
.collection__item_link {
  position: absolute;
  bottom: 75px;
  left: 80px;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 1650px) {
  .container {
    max-width: 1400px;
  }

  .collection__list {
    gap: 40px;
  }

  .collection__item {
    height: 570px;
  }
  .collection__item_link {
    bottom: 35px;
    left: 40px;
  }
}
@media (max-width: 1200px) {
  .collection__item_link {
    font-size: 26px;
    bottom: 41px;
    left: 35px;
  }

  .collection__item {
    height: 432px;
  }
}
@media (max-width: 950px) {
  .collection__title {
    margin-top: 70px;
  }
  .collection__gallery {
    margin-top: 60px;
    margin-bottom: 70px;
  }
  .collection__item {
    height: 348px;
  }
  .collection__item_link {
    font-size: 20px;
    bottom: 25px;
    left: 30px;
  }
  .collection__list {
    gap: 16px;
  }
}
.wear {
  height: 100vh;
  min-height: 768px;
  background-color: #f1ebe2;
}
.wear__container {
  height: 100%;
}
.wear__text {
  display: none;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition-property: transform;
  box-sizing: content-box;
}
.swiper-slide {
  flex-shrink: 0;
  max-width: 720px;
  height: 100%;
}
.swiper__text, .swiper__card {
  width: 100%;
  height: 100%;
}
.swiper__text {
  padding: 120px 321px 0px 90px;
}
.swiper__text_title {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 54px;
  line-height: 130%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 80px;
}
.swiper__text_descr {
  font-size: 21px;
  line-height: 160%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #777777;
  margin-bottom: 120px;
}
.swiper__text_progress {
  overflow: hidden;
  position: relative;
  height: 2px;
  background: rgba(176, 151, 110, 0.4);
}
.swiper__text_progress::before {
  content: "";
  position: absolute;
  left: -130%;
  width: 100%;
  height: 100%;
  background: rgba(176, 151, 110, 0.9);
  -webkit-animation: progress 4s linear infinite;
          animation: progress 4s linear infinite;
}
.swiper__card {
  position: relative;
}
.swiper__card_img {
  width: 100%;
  height: 100%;
}
.swiper__card_link {
  position: absolute;
  bottom: 75px;
  left: 80px;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

@-webkit-keyframes progress {
  0% {
    left: -130%;
    background: rgba(176, 151, 110, 0.9);
  }
  50% {
    left: 130%;
    background: rgba(176, 151, 110, 0.9);
  }
  51% {
    background: rgba(176, 151, 110, 0.9);
  }
  100% {
    background: rgba(176, 151, 110, 0.9);
  }
}

@keyframes progress {
  0% {
    left: -130%;
    background: rgba(176, 151, 110, 0.9);
  }
  50% {
    left: 130%;
    background: rgba(176, 151, 110, 0.9);
  }
  51% {
    background: rgba(176, 151, 110, 0.9);
  }
  100% {
    background: rgba(176, 151, 110, 0.9);
  }
}
@media (max-width: 1650px) {
  .swiper-slide {
    max-width: 520px;
  }

  .swiper__card_link {
    bottom: 35px;
    left: 40px;
  }

  .swiper__text {
    padding-right: 190px;
  }
  .swiper__text_title {
    font-size: 36px;
    margin-bottom: 50px;
  }
  .swiper__text_descr {
    font-size: 14px;
    margin-bottom: 80px;
  }
}
@media (max-width: 1200px) {
  .swiper-slide {
    max-width: 512px;
  }
  .swiper-slide:first-child {
    max-width: 350px;
  }

  .swiper__text {
    padding-right: 70px;
    padding-left: 40px;
  }
}
@media (max-width: 950px) {
  .swiper-slide {
    max-width: 307px;
  }
  .swiper-slide:first-child {
    display: none;
  }

  .swiper__card_link {
    font-size: 20px;
    bottom: 25px;
    left: 30px;
  }

  .wear__container {
    display: flex;
    flex-direction: column;
  }

  .wear {
    max-height: 722px;
  }
  .wear__text {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 60px;
  }
  .wear__text_title {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 40px;
  }
  .wear__text_descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #777777;
  }
}
.offer .container {
  padding: 120px 90px;
}
.offer__title {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333333;
}
.offer__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 237px;
  height: 52px;
  border: 1px solid #b0976e;
  border-radius: 3px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #b0976e;
}

.cards {
  margin: 70px 0px;
}
.cards__filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.cards__filter_start {
  display: flex;
  gap: 20px;
}
.cards__filter_link {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #777777;
}
.cards__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 19px;
}
.cards__list::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.cards__list_colors {
  display: flex;
  gap: 3px;
}
.cards__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards__item_color {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid rgba(176, 151, 110, 0.7);
  margin-bottom: 15px;
}
.cards__item_color_inner {
  position: absolute;
  content: "";
  left: 1px;
  top: 1px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgb(176, 151, 110);
}
.cards__image {
  width: 100%;
  height: 100%;
  margin-bottom: 25px;
}
.cards__image img {
  height: 100%;
}
.cards__descr {
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 10px;
}
.cards__price {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #d83244;
}

@media (max-width: 1650px) {
  .cards__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 17px;
  }
}
@media (max-width: 1200px) {
  .offer .container {
    padding: 120px 40px;
  }

  .cards__list {
    gap: 16px;
  }
}
@media (max-width: 950px) {
  .offer .container {
    padding: 70px 0px;
  }
  .offer__button {
    display: none;
  }

  .cards {
    margin: 0;
    margin-top: 50px;
  }
  .cards__filter {
    padding: 0 20px;
  }
  .cards__list {
    display: flex;
    gap: 16px;
    overflow: hidden;
    overflow-x: scroll;
    margin-left: 20px;
  }
  .cards__item {
    flex-shrink: 0;
  }
}
.info {
  background-color: #f1ebe2;
}
.info .container {
  padding: 120px 330px;
}
.info__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}
.info__start {
  display: flex;
  flex-direction: column;
  gap: 38px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 27px;
  overflow: hidden;
  letter-spacing: 0.05em;
  color: #333333;
}
.info__start-text {
  visibility: hidden;
  overflow: hidden;
}
.info__start-text:first-child {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.info__start-text:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.info__link {
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-size: 16px;
  color: #b0976e;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.info__end {
  display: grid;
  gap: 26px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  opacity: 0.8;
  overflow: hidden;
}
.info__end-text {
  visibility: hidden;
  overflow: hidden;
}
.info__end-text:first-child {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.info__end-text:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.info__end-text:nth-child(3) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.info__end-text:nth-child(4) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.fadeindown {
  -webkit-animation-name: fadeindown;
          animation-name: fadeindown;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  visibility: visible;
}

@-webkit-keyframes fadeindown {
  0% {
    opacity: 0;
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@keyframes fadeindown {
  0% {
    opacity: 0;
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}
@media (max-width: 1650px) {
  .info .container {
    padding: 120px 90px;
  }

  .info__wrapper {
    gap: 60px;
  }
}
@media (max-width: 1200px) {
  .info .container {
    padding: 120px 40px;
  }

  .info__wrapper {
    gap: 40px;
  }
}
@media (max-width: 950px) {
  .info .container {
    padding: 70px 20px;
  }

  .info__wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
.media {
  width: 100%;
  margin: 0 auto;
}
.media__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.media__item {
  height: 512px;
}
.media__item_img {
  width: 100%;
  height: 100%;
}

@media (max-width: 2000px) {
  .media__item {
    height: 384px;
  }
}
@media (max-width: 1650px) {
  .media__item {
    height: 280px;
  }
}
@media (max-width: 1200px) {
  .media__item {
    height: 205px;
  }
}
@media (max-width: 950px) {
  .media__list {
    display: flex;
    gap: 0px;
    overflow: hidden;
    overflow-x: scroll;
  }
  .media__list::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .media__item {
    flex-shrink: 0;
    width: 280px;
    height: 280px;
  }
}
.footer {
  background-color: #f1ebe2;
}
.footer .container {
  padding: 120px 90px;
  display: flex;
  gap: 239px;
}
.footer__logo {
  margin-bottom: 20px;
}
.footer__tel {
  font-size: 23px;
  line-height: 160%;
  letter-spacing: 0.05em;
  color: #333333;
  margin-bottom: 15px;
}
.footer__copy {
  font-size: 12px;
  line-height: 160%;
  color: rgba(51, 51, 51, 0.7);
  margin-bottom: 32px;
}
.footer__social {
  display: flex;
  gap: 20px;
}
.footer__social_link {
  width: 32px;
  height: 32px;
  opacity: 0.5;
}
.footer__nav {
  display: flex;
}
.footer__nav_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__nav_wrapper:first-child {
  margin-right: 294px;
}
.footer__nav_wrapper:last-child {
  margin-left: 224px;
}
.footer__nav_title {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333333;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__item_link {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #333333;
  opacity: 0.7;
}
.footer__partner {
  display: flex;
  gap: 11px;
}
.footer__partner--mob {
  display: none;
}
.footer__partner-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333333;
}

.partner-img-wrapper {
  padding-top: 6px;
}

@media (max-width: 1650px) {
  .footer .container {
    gap: 0;
  }
  .footer__contacts {
    margin-right: 110px;
  }
  .footer__nav_wrapper:first-child {
    margin-right: 164px;
  }
  .footer__nav_wrapper:last-child {
    margin-left: 93px;
  }
}
@media (max-width: 1200px) {
  .footer .container {
    padding: 120px 40px;
  }
  .footer__contacts {
    margin-right: 40px;
  }
  .footer__nav_wrapper:first-child {
    margin-right: 95px;
  }
  .footer__nav_wrapper:last-child {
    margin-left: 49px;
  }
}
@media (max-width: 950px) {
  .footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0px;
  }
  .footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    order: 1;
  }
  .footer__list {
    margin-bottom: 27px;
  }
  .footer__nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 13px;
  }
  .footer__nav_title {
    margin-bottom: 17px;
  }
  .footer__nav_wrapper {
    gap: 0;
  }
  .footer__nav_wrapper:first-child, .footer__nav_wrapper:last-child {
    margin: 0;
  }
  .footer__partner--deks {
    display: none;
  }
  .footer__partner--mob {
    display: flex;
  }
}