@font-face {
	font-family: 'Open Sans';
	src:local('../fonts/') url('../fonts/OpenSans-Regular.woff2') format('woff2') url('../fonts/OpenSans-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Bold.woff2') format('woff2') url('../fonts/OpenSans-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2') url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@import "reset";
@import "base";
@import "commponents/header-main";
@import "commponents/collection-main";
@import "commponents/wear-main";
@import "commponents/offer-main";
@import "commponents/info-main";
@import "commponents/media-main";
@import "commponents/footer";
@import "commponents/product";
@import "commponents/filters";
@import "commponents/cards-info";
@import "commponents/slider";
@import "commponents/offer-2";
@import "commponents/cart-modal";
@import "commponents/cart";
@import "commponents/animation";



