.card-modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  transition: all 0.3s cubic-bezier(0.8, 0, 0.8, 1);
  &__container {
    min-width: 600px;
    background-color: #fff;
    padding: 30px;
    padding-bottom: 40px;
    & > p {
      display: none;
      font-family: "Playfair Display", serif;
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 120%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #333333;
    }
  }
  &__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    & > p {
      font-family: "Playfair Display", serif;
      font-style: normal;
      font-weight: 400;
      font-size: 26px;
      line-height: 120%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #333333;
    }
  }
  &__logo {
    display: none;
    width: 74px;
    height: 36px;
    object-fit: cover;
  }
  &__close {
    position: absolute;
    top: -4px;
    right: -15px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    & > span:last-child {
      display: flex;
      width: 14px;
      height: 14px;
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1.39996' y='3.05176e-05' width='17.8191' height='1.9799' transform='rotate(45 1.39996 3.05176e-05)' fill='%23333333'/%3E%3Crect x='0.00012207' y='12.6' width='17.8191' height='1.9799' transform='rotate(-45 0.00012207 12.6)' fill='%23333333'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  &__product {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 25px;
    margin-top: 30px;
    margin-bottom: 35px;
  }
  &__photo {
    width: 100%;
    height: 150px;
    & > img {
      height: inherit;
    }
  }
  &__descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    & > * {
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #333333;
    }
    & > *:nth-child(2),
    & > *:nth-child(3) {
      color: rgba(119, 119, 119, 0.7);
    }
    & > *:last-child > * {
      color: rgba(51, 51, 51, 0.7);
      text-decoration: line-through;
    }
  }
  &__btns {
    display: flex;
    justify-content: space-between;
    height: 62px;
    gap: 20px;
  }
  &__btn {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    transition: all 0.4s ease;
    &:first-child {
      background: #ffffff;
      border: 1px solid #b0976e;
      border-radius: 4px;
      color: #b0976e;
    }
    &:last-child {
      background: #b0976e;
      border: 1px solid #b0976e;
      border-radius: 4px;
      color: #ffffff;
    }
  }
}

.table-modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  transition: all 0.3s cubic-bezier(0.8, 0, 0.8, 1);
  &__container {
    min-width: 918px;
    background-color: #fff;
    padding: 30px 15px 35px 30px;
    & > p {
      display: none;
      font-family: "Playfair Display", serif;
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 120%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #333333;
    }
  }
  table {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    .simplebar-scrollbar {
      height: 3px;
      &:before {
        background: #d9d9d9;
        border-radius: 0px;
      }
    }
  }
  tbody {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid #e7e7e7;
  }
  tr {
    display: flex;
    height: 42px;
    font-size: 14px;
    line-height: 100%;
    color: #333333;
    align-items: center;
    &:not(:last-child) {
      border-bottom: 1px solid #e7e7e7;
    }
    &:first-child {
      th:not(:first-child) {
        width: 91px;
        height: 100%;
        justify-content: flex-start;
        padding-left: 17px;
        border-right: 1px solid #e7e7e7;
      }
      th:last-child {
        border-right: none;
      }
      th:nth-child(even) {
        background: rgb(217, 217, 217, 0.3);
      }
    }
    th {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-weight: 700;
    }
    td {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 91px;
      height: 100%;
      font-weight: 400;
      padding-left: 17px;
      &:not(:last-child) {
        border-right: 1px solid #e7e7e7;
      }
      &:nth-child(even) {
        background: rgb(217, 217, 217, 0.3);
      }
    }
    th:first-child {
      width: 150px;
      padding-left: 17px;
      height: 100%;
      border-right: 1px solid #e7e7e7;
    }
  }
  .card-modal__close {
    right: 0;
  }
}

.card-modal_active {
  visibility: visible;
  z-index: 2;
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.8, 0, 0.8, 1);
}

@media (max-width: 1000px) {
  .card-modal {
    &__container {
      min-width: 100%;
      height: 100%;
      padding: 0 15px;
      overflow-x: hidden;
      overflow-y: auto;
      & > p {
        display: block;
      }
    }
    &__header {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 15px;
      width: 100%;
      height: 60px;
      margin-bottom: 25px;
      &::after {
        position: absolute;
        content: "";
        top: 60px;
        left: -15px;
        width: 100vw;
        height: 1px;
        background-color: rgba(51, 51, 51, 0.1);
      }
      & > p {
        display: none;
      }
    }
    &__logo {
      display: flex;
      width: 74px;
      height: 36px;
      object-fit: cover;
    }
    &__close {
      position: relative;
      display: flex;
      top: 0;
      right: 0;
      width: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      & > span:first-child {
        display: flex;
        margin-right: 13px;
        font-weight: 400;
        font-size: 11px;
        line-height: 140%;
        text-align: right;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.7);
      }
      & > span:last-child {
        display: flex;
        width: 14px;
        height: 14px;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1.39996' y='3.05176e-05' width='17.8191' height='1.9799' transform='rotate(45 1.39996 3.05176e-05)' fill='%23333333'/%3E%3Crect x='0.00012207' y='12.6' width='17.8191' height='1.9799' transform='rotate(-45 0.00012207 12.6)' fill='%23333333'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
    &__btns {
      flex-direction: column;
      height: auto;
      & > * {
        height: 52px;
      }
    }
    &__product {
      margin-bottom: 30px;
      gap: 20px;
    }
    // &__product,
    // &__btns{
    //   padding: 0 15px;
    // }
    &__btn {
      max-width: 320px;
    }
  }
  .table-modal {
    &__container {
      min-width: 100%;
      height: 100%;
      padding: 0 15px;
      overflow-x: hidden;
      overflow-y: auto;
      & > p {
        display: block;
      }
    }
    table {
      width: 100%;
      height: 271px;
    }
    tbody {
      width: 884px;
      height: 258px;
    }
  }
}
@media (min-width: 1000px) {
  .card-modal__btn:first-child:hover {
    background: #b0976e;
    border-color: #b0976e;
    color: #ffffff;
  }
  .card-modal__btn:last-child:hover {
    background: #927d54;
    border-color: #927d54;
  }
}
.card-modal__btn:last-child:active {
  background: #77623a;
  border-color: #77623a;
}
