.collection {
  position: relative;
  background-color: #ffffff;
  &__title {
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 120px;
    position: relative;
  }

  &__descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #777777;
    margin-top: 40px;
  }
  &__gallery {
    margin-top: 100px;
    margin-bottom: 120px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 45px;
    scrollbar-width: none;
  }
  &__item {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-height: 825px;
    &::after {
      position: absolute;
      content: "";
      z-index: 1;
      top: 0;
      left: 0;
      width: 99.9%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 69.79%,
        rgba(0, 0, 0, 0.35) 100%
      );
    }
    &-img {
      object-fit: cover;
      width: 99.9%;
      transition: all 0.4s ease;
    }
    &-link {
      position: absolute;
      bottom: 75px;
      left: 80px;
      font-weight: 400;
      font-size: 30px;
      line-height: 120%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: rgb(255, 255, 255, 0.8);
      z-index: 2;
      transition: all 0.4s ease;
    }
  }
  &__overlay {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 2;
    transform: scaleY(0);
  }
}

@media (max-width: 1900px) {
  .collection__list {
    gap: 40px;
  }
  .collection__item {
    &-link {
      bottom: 35px;
      left: 40px;
    }
  }
}

@media (max-width: 1350px) {
  .collection__item-link {
    font-size: 26px;
    bottom: 41px;
    left: 35px;
  }
}

@media (max-width: 1000px) {
  .collection {
    &__title {
      margin-top: 70px;
    }
    &__gallery {
      margin-top: 60px;
      margin-bottom: 70px;
    }
    &__item {
      flex-shrink: 0;
      width: 232px;
      height: 348px;
      &-link {
        font-size: 20px;
        bottom: 25px;
        left: 30px;
      }
    }
    &__list {
      display: flex;
      gap: 16px;
      overflow: hidden;
      overflow-x: auto;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        height: 0;
      }
    }
    &__overlay {
      z-index: 0;
    }
    &__title,
    &__descr {
      padding: 0 20px;
    }
  }
}

@media (max-width: 780px) {
  .collection {
    .container {
      padding: 0;
    }
    &__text {
      padding: 0 20px;
    }
    &__title {
      font-size: 27px;
      margin-top: 50px;
    }
    &__descr {
      margin-top: 30px;
    }
    &__gallery {
      margin-top: 40px;
      margin-bottom: 50px;
    }
    &__list{
      justify-content: flex-start;
    }
    &__item {
      &:first-child {
        margin-left: 15px;
      }
      &:last-child {
        margin-right: 15px;
      }
    }
  }
}

@media (min-width: 1000px) {
  .collection__item:hover {
    .collection__item-img {
      transform: scale(1.05);
      transition: all 0.4s ease;
    }
    .collection__item-link {
      color: rgb(255, 255, 255, 1);
      transition: all 0.4s ease;
    }
  }
}
