.content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 120%;
    margin: 30px 0 20px;
    word-wrap: break-word;
  }
  h1 {
    font-size: 50px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 32px;
  }
  h4 {
    font-size: 28px;
  }
  h5 {
    font-size: 24px;
  }
  h6 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
    line-height: 160%;
    margin: 20px 0;
  }
  img {
    display: block;
    margin: 20px 0;
  }
  mark {
    padding: 0.2em;
    background-color: #fcf8e3;
  }
  ul,
  ol {
    margin: 20px 0 20px 20px;
    li {
      margin: 10px 0;
      &::marker {
        color: #b0976e;
      }
    }
  }
  ul li {
    list-style: disc;
  }
  ol li {
    list-style: decimal;
  }
  table {
    border-collapse: collapse;
  }
  tr {
    &:nth-child(odd) {
      background-color: rgb(217, 217, 217, 0.2);
    }
    transition: background-color 0.2s ease;
    &:hover {
      background-color: rgb(232, 232, 232, 0.7);
    }
  }
  th,
  td {
    border: 1px solid #e7e7e7;
    padding: 12px 17px 14px;
    text-align: left;
    vertical-align: top;
    font-size: 14px;
    line-height: 160%;
  }
  a {
    color: #333333;
    border-bottom: 1px solid rgba(176, 151, 110, 0.5);
    transition: all 0.2s ease;
    &:active,
    &:hover {
      border-color: transparent;
    }
  }
  hr {
    height: 1px;
    background-color: #eaeaea;
  }
  blockquote {
    font-weight: 700;
    font-size: 20px;
    p {
      margin: 20px 0 10px;
    }
    & + p {
      margin: 0 0 20px;
    }
  }
  .map {
    border: 1px solid #e6e6e6;
  }
  @media (max-width: 1000px) {
    h1 {
      font-size: 35px;
    }
    h2 {
      font-size: 30px;
    }
    h3 {
      font-size: 25px;
    }
    h4 {
      font-size: 20px;
    }
    h5 {
      font-size: 18px;
    }
    h6 {
      font-size: 16px;
    }
    th {
      max-width: 175px;
    }
  }

  @media (max-width: 750px) {
    h1 {
      font-size: 25px;
    }
    h2 {
      font-size: 24px;
    }
    h3 {
      font-size: 20px;
    }
    h4 {
      font-size: 18px;
    }
    h5 {
      font-size: 16px;
    }
    h6 {
      font-size: 14px;
    }
    .table {
      overflow-x: scroll;
      margin: 0 -15px;
      padding: 0 15px 8px;
      scrollbar-width: thin;
      scrollbar-color: rgb(192, 192, 192) transparent;
      &::-webkit-scrollbar {
        height: 6px;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #c0c0c0;
      }
    }
    table {
      min-width: 730px;
    }
  }

  @media(min-width: 1001px){
    .h1-small {
      font-size: 45px;
    }
  }
 }
