// Product Filters //

.filters {
  position: sticky !important;
  top: 70px;
  height: 88vh;
  width: 260px;
  margin-right: 50px;
  scrollbar-width: none;
  // &::-webkit-scrollbar {
  //   height: 0px !important;
  //   width: 0px !important;
  // }
  & > .simplebar-track {
    width: 8px !important;
    & > .simplebar-scrollbar:before {
      background: rgba(51, 51, 51, 0.5);
      border-radius: 10px;
    }
  }
  &__header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 59px;
    display: none;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
    padding: 0 15px;
    z-index: 2;
    &-title {
      font-weight: 700;
      font-size: 23px;
      height: 40px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #333333;
    }
  }
  &__btn-reset,
  &__header-title,
  &__btn-close {
    display: flex;
    height: 40px;
    align-items: center;
  }
  &__btn-reset {
    font-weight: 400;
    font-size: 11px;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
  }
  &__btn-close {
    display: flex;
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    & > span:first-child {
      display: flex;
      margin-right: 11px;
      font-weight: 400;
      font-size: 11px;
      line-height: 140%;
      text-align: right;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.7);
    }
    & > span:last-child {
      display: flex;
      width: 14px;
      height: 14px;
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1.39996' y='3.05176e-05' width='17.8191' height='1.9799' transform='rotate(45 1.39996 3.05176e-05)' fill='%23333333'/%3E%3Crect x='0.00012207' y='12.6' width='17.8191' height='1.9799' transform='rotate(-45 0.00012207 12.6)' fill='%23333333'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    overflow-y: auto;
    width: 235px;
    height: auto;
  }
  &__btn {
    flex-shrink: 0;
    width: 235px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 25px;
    & > svg {
      transform: rotate(180deg);
      transition: transform 0.3s ease-in-out;
    }
    &_active {
      & > svg {
        transform: rotate(0);
        transition: transform 0.3s ease-in-out;
      }
    }
  }
  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #333333;
  }
  &__list {
    position: relative;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    overflow: hidden;
    max-height: 0;
    transition: all 0.4s ease;
    &_active {
      max-height: 100vh;
      transition: all 0.7s ease;
    }
    & > li {
      position: relative;
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      color: #333333;
    }
    & > li:last-child {
      margin-bottom: 40px;
    }
    label {
      cursor: pointer;
      width: 100%;
    }
  }
  &__category-item,
  &__collection-item {
    height: 21px;
  }
  &__catalog-item {
    display: flex;
    align-items: center;
    span {
      padding: 2px 7px;
      background: #b0976e;
      border-radius: 2px;
      font-weight: 700;
      font-size: 11px;
      line-height: 160%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #ffffff;
      margin-left: 10px;
    }
    .catalog-link {
      color: #333333;
      transition: all 0.3s ease;
      border-bottom: 1px solid rgba(176, 151, 110, 0.5);
      &_active {
        color: #b0976e;
        border-color: transparent;
        transition: all 0.3s ease;
      }
    }
  }
  &__collection-item {
    label {
      & > input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        &:checked + span::before {
          background-color: #b0976e;
          border-color: #b0976e;
          background-image: url("data:image/svg+xml,%3Csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 3.5L4.5 6.5L10 1' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
          transition: all 0.3s ease;
        }
      }
      & > span {
        display: inline-flex;
        align-items: center;
        user-select: none;
        &::before {
          content: "";
          display: inline-block;
          width: 20px;
          height: 20px;
          flex-shrink: 0;
          flex-grow: 0;
          border: 1px solid #bbbbbb;
          margin-right: 10px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 50% 50%;
          transition: all 0.3s ease;
        }
      }
    }
  }
  &__category-item {
    label {
      & > input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        &:checked + span::before {
          background-color: #b0976e;
          border-color: #b0976e;
          background-image: url("data:image/svg+xml,%3Csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 3.5L4.5 6.5L10 1' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
          transition: all 0.3s ease;
        }
      }
      & > span {
        display: inline-flex;
        align-items: center;
        user-select: none;
        &::before {
          content: "";
          display: inline-block;
          width: 20px;
          height: 20px;
          flex-shrink: 0;
          flex-grow: 0;
          border: 1px solid #bbbbbb;
          margin-right: 10px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 50% 50%;
          transition: all 0.3s ease;
        }
      }
    }
  }
  &__colors-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
  }
  &__colors-item {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    label {
      width: 32px;
      height: 32px;
      border-radius: 100px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      & > input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        &:checked + span {
          border-color: #b0976e;
          transition: all 0.3s ease;
        }
      }
      & > span {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 40px;
        height: 40px;
        border-radius: 100px;
        border: 2px solid transparent;
        transition: all 0.3s ease;
      }
    }
  }
  &__size-list {
    gap: 8px;
  }
  &__size-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 8px;
    // &:last-child{
    //   // margin-bottom: 70px;
    // }
  }
  &__size-item {
    display: flex;
    label {
      & > input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        &:checked + span::after {
          background-color: #333333;
          transition: all 0.3s ease;
        }
        &:checked + span {
          color: #ffffff;
          transition: all 0.3s ease;
        }
      }
      & > span {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 73px;
        height: 40px;
        font-weight: 400;
        font-size: 13px;
        line-height: 120%;
        text-align: center;
        color: #333333;
        transition: all 0.3s ease;
        &::after {
          position: absolute;
          content: "";
          top: 0;
          width: 100%;
          height: 100%;
          background-color: #e7e7e7;
          z-index: -1;
          border-radius: 4px;
          transition: all 0.3s ease;
        }
      }
    }
  }
  &__btn-show {
    display: none;
    align-items: center;
    justify-content: center;
    width: 235px;
    height: 52px;
    background: #b0976e;
    border: 1px solid #b0976e;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
  }
  &__sort-list {
    display: none;
  }
  &__sort-title {
    display: none;
    width: 100%;
    height: 40px;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #333333;
  }
}
.filter-btn {
  display: none;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 48px;
  border: 1px solid rgba(176, 151, 110, 0.5);
  border-radius: 3px;
  & > svg {
    margin-right: 13px;
  }
  & > span {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #b0976e;
  }
}

@media (max-width: 1000px) {
  .filters {
    display: flex;
    opacity: 0;
    position: fixed !important;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background: #ffffff;
    transition: all 0.4s ease;
    &__header {
      display: flex;
      opacity: 0;
      transition: opacity 0.1s;
    }
    &_active {
      opacity: 1;
      z-index: 10;
      transition: all 0.4s ease;
      transition-delay: 0.1s;
      & .filters__header {
        opacity: 1;
        transition: opacity 0.1s;
      }
    }
    &__container {
      width: 100%;
      padding: 70px 20px;
    }
    &__btn-show {
      display: flex;
      width: 100%;
      position: fixed;
      bottom: 0;
    }
    &__btn {
      display: flex;
      align-items: center;
      height: 40px;
      width: 100%;
      margin-bottom: 1px;
    }
    &__list {
      width: 100%;
      gap: 0;

      &::after {
        position: absolute;
        content: "";
        bottom: 15px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #eaeaea;
      }
      &:last-child::after {
        bottom: 0;
      }
      & > li {
        height: 40px;
        width: 100%;
        label {
          width: 100%;
        }
      }
      & > li:last-child {
        margin-bottom: 26px;
      }
    }
    &__collection-item,
    &__category-item {
      display: flex;
      align-items: center;
    }
    &__colors-list,
    &__size-list {
      gap: 8px;
    }
    &__size-inner:last-child {
      margin-bottom: 20px;
    }
    &__colors-item {
      width: 42px !important;
      height: 42px !important;
      label {
        width: 32px !important;
        height: 32px !important;
        span{
          width: 42px;
          height: 42px;
        }
      }
    }
    &__sort {
      &-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        position: relative;
        &::after {
          position: absolute;
          content: "";
          width: 100%;
          height: 1px;
          bottom: 15px;
          left: 0;
          background-color: #eaeaea;
        }
      }
      &-item {
        position: relative;
        width: 100%;
        height: 40px;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: #333333;
        label {
          & > input {
            position: absolute;
            z-index: -1;
            opacity: 0;
            &:checked + span::before {
              border: 7px solid #b0976e;
            }
          }
          & > span {
            display: flex;
            align-items: center;
            gap: 10px;
            width: 100%;
            height: 100%;
            &::before {
              content: "";
              display: flex;
              width: 20px;
              height: 20px;
              border-radius: 100px;
              background: #ffffff;
              border: 1px solid #bbbbbb;
            }
          }
        }
        &:last-child,
        &:nth-child(2) {
          label > span::after {
            content: "";
            display: flex;
            background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.35355 0.646446C4.15829 0.451184 3.84171 0.451184 3.64645 0.646446L0.464466 3.82843C0.269204 4.02369 0.269204 4.34027 0.464466 4.53553C0.659728 4.7308 0.97631 4.7308 1.17157 4.53553L4 1.70711L6.82843 4.53553C7.02369 4.7308 7.34027 4.7308 7.53553 4.53553C7.7308 4.34027 7.7308 4.02369 7.53553 3.82843L4.35355 0.646446ZM4.5 12L4.5 1L3.5 1L3.5 12L4.5 12Z' fill='%23333333'/%3E%3C/svg%3E");
            width: 9px;
            height: 12px;
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
        &:last-child {
          margin-bottom: 26px;
          label > span::after {
            transform: rotate(180deg);
          }
        }
      }
      &-title{
        display: flex;
        margin-bottom: 1px;
      }
    }
  }
  .filter-btn {
    display: flex;
    width: 100%;
    margin: 0 auto;
    margin-top: 35px;
  }
  .simple-scroll > .simplebar-track {
    width: 8px !important;
  }
}
@media(max-width:750px){
  .filters{
    &__container{
      padding: 70px 15px;
    }
  }
}
@media (max-width: 420px) {
  .filters {
    &__header-title {
      left: 30%;
    }
  }
  .filter-btn {
    margin-top: 20px;
  }
}
@media (min-width: 1000px) {
  .filters {
    &__collection-item {
      label > input:not(:disabled):not(:checked) + span:hover::before {
        background-color: rgba(231, 231, 231, 0.5);
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 3.5L4.5 6.5L10 1' stroke='%23333333' stroke-width='2'/%3E%3C/svg%3E");
        transition: all 0.3s ease;
      }
    }
    &__category-item {
      label > input:not(:disabled):not(:checked) + span:hover::before {
        background-color: rgba(231, 231, 231, 0.5);
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 3.5L4.5 6.5L10 1' stroke='%23333333' stroke-width='2'/%3E%3C/svg%3E");
        transition: all 0.3s ease;
      }
    }
    &__colors-item {
      label > input:not(:disabled):not(:checked) + span:hover {
        border-color: #c4c4c4;
        transition: all 0.3s ease;
      }
    }
    &__size-item {
      label > input:not(:disabled):not(:checked) + span:hover::after {
        background-color: rgba(51, 51, 51, 0.2);
        transition: all 0.3s ease;
      }
    }
  }
  .catalog-link:not(.catalog-link_active):hover {
    border-color: transparent;
  }
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
::-webkit-scrollbar:window-inactive {
  height: 0;
}
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.4);
}
