.footer {
  background-color: #f1ebe2;
  .container {
    padding: 120px 90px;
    display: flex;
    gap: 239px;
  }
  &__logo {
    margin-bottom: 20px;
  }
  &__tel {
    font-size: 23px;
    line-height: 160%;
    letter-spacing: 0.05em;
    color: #333333;
    margin-bottom: 15px;
  }
  &__copy {
    font-size: 12px;
    line-height: 160%;
    color: rgba(51, 51, 51, 0.7);
    margin-bottom: 32px;
  }
  &__social {
    display: flex;
    gap: 20px;
    &_link {
      width: 32px;
      height: 32px;
      opacity: 0.5;
    }
  }
  &__nav {
    display: flex;
    &_wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
      &:first-child {
        margin-right: 294px;
      }
      &:last-child {
        margin-left: 224px;
      }
    }
    &_title {
      font-weight: 700;
      font-size: 16px;
      line-height: 160%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #333333;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__item {
    &_link {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: #333333;
      opacity: 0.7;
    }
  }
  &__partner {
    display: flex;
    gap: 11px;
    &--mob{
      display: none;
    }
    &-link {
      font-weight: 700;
      font-size: 16px;
      line-height: 160%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #333333;
    }
  }
}
.partner-img-wrapper {
  padding-top: 6px;
}
@media (max-width: 1650px) {
  .footer {
    .container {
      gap: 0;
    }
    &__contacts {
      margin-right: 110px;
    }
    &__nav_wrapper:first-child {
      margin-right: 164px;
    }
    &__nav_wrapper:last-child {
      margin-left: 93px;
    }
  }
}
@media (max-width: 1200px) {
  .footer {
    .container {
      padding: 120px 40px;
    }
    &__contacts {
      margin-right: 40px;
    }
    &__nav_wrapper:first-child {
      margin-right: 95px;
    }
    &__nav_wrapper:last-child {
      margin-left: 49px;
    }
  }
}
@media (max-width: 950px) {
  .footer {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 70px 0px;
    }
    &__contacts {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      order: 1;
    }
    &__list{
      margin-bottom: 27px;
    }
    &__nav {
      display: flex;
      flex-direction: column;
      margin-bottom: 13px;
      &_title{
        margin-bottom: 17px;
      }
      &_wrapper {
        gap: 0;
        &:first-child,
        &:last-child {
          margin: 0;
        }
      }
    }
    &__partner{
      &--deks{
        display: none;
      }
      &--mob{
        display: flex;
      }
    }
    
  }
}
