.header {
  position: relative;
  height: 100vh;
  &__hover {
    display: flex;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 91px;
    max-height: 91px;
    background-color: #ffffff;
    transform: translateY(-100%);
    transition: transform 0.4s ease-in-out;
    &_active {
      opacity: 1;
      transition: opacity 0.3s;
    }
  }
  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    object-fit: cover;
    z-index: -2;
  }
  &__top {
    height: 91px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__start {
    display: flex;
    align-items: center;
  }
  &__logo {
    width: 92px;
    height: 45px;
    margin-right: 58px;
    z-index: 1;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__list {
    display: flex;
    gap: 35px;
  }
  &__item {
    display: flex;
    align-items: center;
    will-change: animation;
    z-index: 1;
    &-img {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 9px;
      width: 10px;
      height: 10px;
    }
    &-link {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #ffffff;
      transition: 0.3s;
    }
    &:first-child {
      padding-top: 40px;
      padding-bottom: 40px;
      animation-delay: 100ms;
    }
    &:nth-child(2) {
      animation-delay: 120ms;
    }
    &:last-child {
      animation-delay: 130ms;
    }
    &:first-child svg {
      width: 10px;
      height: 10px;
    }
  }
  &__end {
    display: flex;
    align-items: center;
  }
  &__form {
    position: relative;
    width: 219px;
    height: 34px;
    z-index: 1;
    margin-right: 15px;
    animation-delay: 140ms;
    &-search {
      cursor: text;
      width: 100%;
      height: 100%;
      padding: 0px 10px;
      background-color: transparent;
      color: #ffffff;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 2px;
      transition: all 0.3s ease;
    }
    svg {
      position: absolute;
      top: 9px;
      right: 9px;
    }
  }
  &__user,
  &__cart {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
  }
  &__user {
    animation-delay: 170ms;
  }
  &__cart {
    position: relative;
    margin-left: 8px;
    animation-delay: 175ms;
    span {
      width: 18px;
      height: 19px;
      position: absolute;
      top: 0;
      right: 0;
      display: grid;
      justify-items: center;
      align-items: center;
      background-color: #bf5151;
      border-radius: 50%;
      font-weight: 400;
      font-size: 12px;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
  &__burger {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
    margin-left: 50px;
    cursor: pointer;
    z-index: 7;
    animation-delay: 180ms;
    &-line {
      position: absolute;
      left: 11px;
      top: 19px;
      width: 14px;
      max-width: 14px;
      height: 2px;
      background-color: white;
      // transform: translateY(-50%);
      transition: opacity 0.3s ease-in-out;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 11px;
      width: 18px;
      max-width: 18px;
      height: 2px;
      background-color: white;
      // transition: transform 0.3s ease-in-out, top 0.3s ease-in-out,
      //   bottom 0.3s ease-in-out;
    }
    &::before {
      top: 12px;
    }
    &::after {
      bottom: 12px;
    }
  }
  &__text {
    width: 100%;
    height: 93%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
  }
  &__title {
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 90px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 50px;
    animation-delay: 170ms;
  }
  &__descr {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 64px;
    animation-delay: 180ms;
  }
  &__thumb {
    animation-delay: 190ms;
  }
}
.burger-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  background-color: #ffffff;
  transition: all 0.7s ease-in-out;
  z-index: 6;
  &_active {
    visibility: visible;
    opacity: 1;
    transition: all 0.7s ease-in-out;
  }
  &__wrapper {
    display: flex;
    position: relative;
    max-width: 1920px;
    padding: 0 90px;
    margin: 0 auto;
    justify-content: space-around;
  }
  &__inner {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 115px;
  }
  &__title {
    font-weight: 700;
    font-size: 23px;
    line-height: 160%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 25px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__item {
    &-link {
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: rgba(0, 0, 0, 0.7);
    }
  }
  &__partner {
    display: flex;
    gap: 11px;
    align-items: baseline;
    margin-top: 47px;
    &-link {
      font-weight: 700;
      font-size: 23px;
      line-height: 160%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #333333;
    }
  }
  &__social {
    display: flex;
    flex-direction: column;
    margin-top: 28px;
    &-link {
      width: 32px;
      height: 32px;
      opacity: 0.5;
    }
  }
  &__partner_mob {
    display: none;
  }
  &__links {
    display: flex;
    gap: 20px;
  }
  &__tel {
    font-weight: 700;
    font-size: 23px;
    line-height: 160%;
    letter-spacing: 0.05em;
    color: #333333;
    margin-top: 27px;
  }
}
.burger__logo {
  visibility: visible;
  position: absolute;
  top: 23px;
  left: 90px;
  opacity: 1;
  width: 92px;
  height: 45px;
  margin-right: 58px;
  transition: all 0.3s ease;
  &_active {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease;
  }
}
.logo-top_active {
  fill: #333333;
  transition: 0.3s;
}
.logo-end_active {
  fill: #b0976e;
  transition: 0.3s;
}
.stop-scroll {
  overflow: hidden;
}
.none {
  display: none;
}

.dropdown {
  display: flex;
  position: absolute;
  max-height: 230px;
  top: 91px;
  left: 0;
  z-index: 2;
  width: 100vw;
  background-color: #fff;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
  transform: scaleY(0);
  transform-origin: 100% 0%;
  transition: transform 0.4s ease-in-out;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 40px 90px;
  }
  &__list {
    display: grid;
    gap: 18px;
    font-family: "Open Sans";
    font-weight: 400;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    transition-delay: 200ms;
  }
  &__title {
    font-family: "Open Sans";
    font-size: 12px;
    line-height: 160%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: rgba(119, 119, 119, 0.7);
    margin-bottom: 5px;
  }
  &__item {
    font-size: 15px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #333333;
  }
  &__list:nth-child(3) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    .dropdown__title {
      grid-column: span 2;
    }
  }
  &__offer {
    width: 300px;
    height: 140px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    transition-delay: 200ms;
    & > img {
      width: 100%;
      height: 100%;
    }
  }
}
.burger_active {
  &::after,
  &::before {
    background-color: #333333;
    transition: 0.3s;
  }
}
.burger_active::before {
  animation: rotate-burger-before 0.4s cubic-bezier(0.22, 1, 0.36, 1) forwards
      405ms,
    burger-anim 0.4s cubic-bezier(0.22, 1, 0.36, 1) none;
  // top: 50%;
  // transform: rotate(45deg);
}
.burger_active .header__burger-line {
  // opacity: 0;
  // display: none;
  animation: burger-anim 0.4s cubic-bezier(0.22, 1, 0.36, 1) both 0.1s;
}
.burger_active::after {
  animation: rotate-burger-after 0.4s cubic-bezier(0.22, 1, 0.36, 1) forwards
      415ms,
    burger-anim 0.4s cubic-bezier(0.22, 1, 0.36, 1) none 150ms;
  // bottom: auto;
  // top: 50%;
  // transform: rotate(-45deg);
}
.rotate-anim {
  animation: rotate-anim 1.5s linear infinite both;
}
.burger-anim {
  animation: burger-anim 0.4s cubic-bezier(0.22, 1, 0.36, 1) both;
}

@media (max-width: 1650px) {
  .header__title {
    font-size: 72px;
  }
  .header__descr {
    font-size: 14px;
  }
  .dropdown__wrapper,
  .burger-menu__wrapper {
    max-width: 1400px;
  }
}
@media (max-width: 1200px) {
  .container,
  .burger-menu__wrapper {
    max-width: 1024px;
    padding: 0px 40px;
  }
  .dropdown__wrapper {
    max-width: 1024px;
    padding: 70px 40px;
  }
  .burger__logo {
    left: 40px;
  }
}
@media (max-width: 950px) {
  .header {
    height: 446px;
  }
  .container {
    max-width: 768px;
    padding: 0px 20px;
  }
  .header {
    &__nav,
    &__form {
      display: none;
    }
    &__title {
      font-size: 63px;
      margin-bottom: 40px;
    }
    &__descr {
      margin-bottom: 54px;
    }
  }
  .burger-menu {
    &__inner {
      margin-top: 20px;
      & .btn-mob{
        right: 0;
      }
    }
    &__title {
      margin-bottom: 20px;
    }
    &__wrapper {
      max-width: 768px;
      display: flex;
      flex-direction: column;
      padding: 100px 20px 0 20px;
    }
    &__partner {
      display: none;
      &_mob {
        display: flex;
        margin: 0;
      }
    }
    &__list {
      display: none;
    }
    &__social {
      display: flex;
      align-items: center;
      gap: 15px;
    }
    &__tel {
      margin: 0;
    }
  }
  .burger__logo {
    left: 20px;
  }
}
@media (max-width: 750px) {
  .header {
    &__logo {
      margin-right: 0;
    }
    &__burger {
      margin-left: 30px;
      &-wrapper {
        padding: 0 20px;
      }
    }
    &__text {
      justify-content: flex-start;
      margin-top: 45px;
      height: 100%;
      max-height: 100%;
    }
    &__title {
      font-size: 32px;
      margin-bottom: 30px;
    }
    &__descr {
      margin-bottom: 35px;
    }
  }
}
@media (min-width: 950px) {
  .header__top {
    &:hover .header__hover {
      visibility: visible;
      transform: translateY(0);
      transition: visibility 0.2s ease, transform 0.4s ease-in-out;
    }
    &:hover .header-logo-top {
      fill: #333333;
      transition: fill 0.3s ease;
    }
    &:hover .header-logo-end,
    &:hover .item-logo {
      fill: #b0976e;
      transition: fill 0.3 ease;
    }
    &:hover .header__form-search {
      border-color: rgba(51, 51, 51, 0.2);
      color: #333333;
      transition: all 0.3 ease;
      &:hover {
        border-color: rgba(51, 51, 51, 0.4);
      }
      &:focus {
        border-color: rgba(51, 51, 51, 0.6);
      }
    }
    &:hover .search-logo,
    &:hover .cart-logo,
    &:hover .user-logo-cir {
      stroke: #333333;
      transition: 0.3 ease;
    }
    &:hover .search-logo-rec,
    &:hover .user-logo {
      fill: #333333;
      transition: 0.3 ease;
    }
    &:hover .catalog-link {
      color: #b0976e;
      transition: 0.3 ease;
    }
    &:hover .header-link {
      color: #333333;
      transition: 0.3 ease;
    }
    &:hover .header__burger-line,
    &:hover .header__burger::after,
    &:hover .header__burger::before {
      background-color: #333333;
      transition: 0.3s;
    }
  }
  .header__item:first-child:hover .dropdown {
    transform: scaleY(1);
    transform-origin: 100% 0%;
    transition: transform 0.4s ease-in-out;
  }
  .header__item:first-child:hover {
    & .dropdown__list,
    & .dropdown__offer {
      opacity: 1;
      transition: opacity 0.4s ease-in-out;
      transition-delay: 200ms;
    }
  }
}
