.header {
  position: relative;
  height: 100vh;
  &__hover {
    display: flex;
    position: absolute;
    opacity: 0;
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 91px;
    background-color: #ffffff;
    transition: opacity 0.4s;
  }
  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    object-fit: cover;
    z-index: -2;
  }
  &__top {
    height: 91px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:hover .header__hover {
      opacity: 1;
      transition: opacity 0.4s;
      animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    }
    &:hover .logo_top {
      fill: #333333;
    }
    &:hover .logo_end {
      fill: #b0976e;
    }
    &:hover .header__form {
      border-color: rgba(51, 51, 51, 0.3);
    }
    &:hover .search_logo,
    &:hover .cart_logo,
    &:hover .user_logo_cir {
      stroke: #333333;
    }
    &:hover .search_logo_rec,
    &:hover .user_logo {
      fill: #333333;
    }
    &:hover .catalog_link {
      color: #b0976e;
    }
    &:hover .header_link {
      color: #333333;
    }
    &:hover .header__burger_line,
    &:hover .header__burger::after,
    &:hover .header__burger::before {
      background-color: #333333;
    }
  }
  &__start {
    display: flex;
    align-items: center;
  }
  &__logo {
    width: 92px;
    height: 45px;
    margin-right: 58px;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__list {
    display: flex;
    gap: 35px;
  }
  &__item {
    display: flex;
    align-items: center;
    &_img{
      display: flex;
      padding-bottom: 1px;
      margin-right: 9px;
    }
    &_link {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 160%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #ffffff;
    }
    &:first-child {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    &:first-child:hover .dropdown {
      display: flex;
      animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    }
    &:first-child svg {
      width: 10px;
      height: 10px;
    }
  }
  &__end {
    display: flex;
    align-items: center;
  }
  &__form {
    position: relative;
    width: 219px;
    height: 34px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    margin-right: 15px;
    input {
      cursor: text;
      width: 100%;
      height: 100%;
      background-color: transparent;
    }
    svg {
      position: absolute;
      top: 9px;
      right: 9px;
    }
  }
  &__user,
  &__cart {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  &__cart {
    position: relative;
    margin-left: 8px;
    span {
      width: 18px;
      height: 19px;
      position: absolute;
      top: 0;
      right: 0;
      display: grid;
      justify-items: center;
      align-items: center;
      background-color: #bf5151;
      border-radius: 50%;
      font-weight: 400;
      font-size: 12px;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
  &__burger {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: transparent;
    margin-left: 50px;
    cursor: pointer;
    &_line {
      position: absolute;
      left: 10px;
      top: 50%;
      width: 14px;
      height: 2px;
      background-color: white;
      transform: translateY(-50%);
      transition: opacity 0.3s ease-in-out;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 10px;
      width: 18px;
      height: 2px;
      background-color: white;
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out,
        bottom 0.3s ease-in-out;
    }
    &::before {
      top: 10px;
    }
    &::after {
      bottom: 10px;
    }
  }
  &__text {
    width: 100%;
    height: 93%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
  }
  &__title {
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 90px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  &__descr {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 64px;
  }
}
.dropdown {
  display: none;
  position: absolute;
  gap: 120px;
  padding: 40px 90px;
  top: 91px;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
  &__list {
    display: grid;
    gap: 18px;
    font-family: "Open Sans";
    font-weight: 400;
  }
  &__item_title {
    font-family: "Open Sans";
    font-size: 12px;
    line-height: 160%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: rgba(119, 119, 119, 0.7);
    margin-bottom: 5px;
  }
  &__item {
    font-size: 15px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #333333;
  }
  &__list:nth-child(3) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    .dropdown__item_title {
      grid-column: span 2;
    }
  }
  &__offer {
    width: 300px;
    height: 140px;
    & > img {
      width: 100%;
      height: 100%;
    }
  }
}
.burger--active .header__burger_line {
  opacity: 0;
}

.burger--active::before {
  top: 50%;
  transform: rotate(45deg);
}

.burger--active::after {
  bottom: auto;
  top: 50%;
  transform: rotate(-45deg);
}
.rotate-anim {
  animation: rotate-anim 1.5s linear infinite both;
}
@keyframes rotate-anim {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes scale-up-ver-top {
  0% {
    transform: scaleY(0);
    transform-origin: 100% 0%;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }
}
