.media {
  overflow-x: overlay;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0 !important;
  }
  width: 100%;
  margin: 0 auto;
  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  &__item {
    position: relative;
    overflow: hidden;
    height: 512px;
    &-img {
      position: absolute;
      top: 0;
      width: 100%;
      transition: all 0.3s ease;
    }
  }
}
@media (max-width: 2000px) {
  .media__item {
    height: 384px;
  }
}
@media (max-width: 1650px) {
  .media__item {
    height: 280px;
  }
}
@media (max-width: 1200px) {
  .media__item {
    height: 205px;
  }
}
@media (max-width: 1000px) {
  .media {
    &__list {
      display: flex;
      gap: 0px;
      overflow: hidden;
      overflow-x: auto;
      overflow: -moz-scrollbars-none;
      scrollbar-width: none;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        height: 0 !important;
      }
    }
    &__item {
      flex-shrink: 0;
      width: 280px;
      height: 280px;
    }
  }
}
@media (max-width: 750px) {
  .media {
    &__item {
      width: 260px;
      height: 260px;
    }
  }
}

@media(min-width:950px){
  .media__item:hover .media__item-img{
    transform: scale(1.5);
    transition: all 0.3s ease;
  } 
}