.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 0px;
  @media(max-height: 790px) {
    padding: 100px 0px;
  }
  @media(max-height: 700px) {
    padding: 40px 0px;
  }
  &__logo {
    max-width: 92px;
    max-height: 46px;
    margin-bottom: 69px;
    @media(max-width: 1000px) {
      margin-bottom: 30px;
    }
  }
  .title {
    margin-bottom: 20px;
    @media(max-width: 750px) {
      text-align: center;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 20px;
    img {
      pointer-events: none;
    }
  }
  p {
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    letter-spacing: 0.005em;
    color: #333333;
    margin-bottom: 10px;
  }
  .btn-1 {
    margin-left: 20px;
    @media(max-width: 750px) {
      margin: 0;
      margin-top: 20px;
    }
  }
  .btn-2 {
    margin-top: 60px;
    @media(max-width: 1000px) {
      margin-top: 20px;
    }
  }
  &__btns {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    @media(max-width: 1000px) {
      margin-top: 20px;
    }
    @media(max-width: 750px) {
      flex-direction: column;
    }
    .btn-2 {
      margin-top: 0px;
      @media(max-width: 1000px) {
        margin-top: 0px;
      }
    }
  }
}
