.offer-2 {
  margin-top: 70px;
  margin-bottom: 90px;
  h2 {
    font-weight: 400;
    font-size: 35px;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 50px;
  }
  .cards {
    margin: 0;
    &__list{
      grid-template-columns: repeat(4, 1fr);
    }
    &__item{
      &:last-child{
        display: flex;
      }
    }
    &__image{
      height: 630px;
    }
  }
}

@media(max-width:1650px){
  .offer-2{
    .cards{
      &__image{
        height: 438px;
      }
    }
  }
}