.offer {
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
  margin: 120px 0px;
  &__title {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #333333;
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 237px;
    height: 52px;
    border: 1px solid #b0976e;
    border-radius: 3px;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #b0976e;
    transition: all 250ms ease;
    &:active {
      border-color: #927d54;
      background-color: #927d54;
      transition: all 250ms ease;
    }
  }
}

.cards {
  margin: 70px 0px;
  &__filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    &-start {
      display: flex;
      gap: 20px;
    }
    &-sort,
    &-link {
      font-weight: 400;
      font-size: 14px;
      line-height: 160%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #777777;
      transition: color 0.3s ease;
      cursor: pointer;
    }
    &-sort {
      &_active {
        border-bottom: 1px solid rgba(176, 151, 110, 0.5);
        color: #333333;
      }
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px 19px;
    &::-webkit-scrollbar {
      height: 0;
    }
    &-colors {
      display: flex;
      flex-wrap: wrap;
      gap: 3px;
      justify-content: center;
      margin-bottom: 15px;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: relative;
    &-color {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid transparent;
      &_active {
        border: 1px solid rgba(176, 151, 110, 0.7);
      }
      &-inner {
        overflow: hidden;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: rgba(176, 151, 110);
        cursor: pointer;
        & > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  &__offer {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    & > span {
      padding: 2px 8px;
      font-weight: 400;
      font-size: 11px;
      line-height: 160%;
      letter-spacing: 0.1em;
      text-align: center;
      text-transform: uppercase;
      color: #333333;
      background-color: #ffffff;
      border-radius: 1px;
    }
  }
  &__button {
    display: none;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    & > svg {
      width: 40px;
      height: 40px;
      margin-bottom: 20px;
    }
    &-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #333333;
      border-bottom: 1px solid rgba(176, 151, 110, 0.5);
    }
  }
  &__image {
    overflow: hidden;
    max-height: 500px;
    width: 100%;
    margin-bottom: 25px;
    & > img {
      width: 100%;
      transition: transform 0.4s ease-in-out;
    }
  }
  &__descr {
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #333333;
    margin-bottom: 10px;
  }
  &__price {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #d83244;
  }
  &__colors {
    display: none;
    text-align: center;
    font-size: 13px;
    line-height: 120%;
    color: rgba(51, 51, 51, 0.7);
  }
  .download-btn {
    display: none;
  }
}

@media (max-width: 1550px) {
  .cards__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1200px) {
  .offer {
    margin: 0;
    margin-bottom: 120px;
  }
}

@media (max-width: 1000px) {
  .offer {
    margin-top: 70px;
    margin-bottom: 70px;
    &__button {
      display: none;
    }
  }
  .cards {
    width: 100%;
    margin: 0;
    margin-top: 50px;
    &__filter {
      justify-content: center;
      gap: 20px;
    }
    &__list {
      display: flex;
      gap: 16px;
      overflow: hidden;
      overflow-x: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;
      overflow: -moz-scrollbars-none;
      &::-webkit-scrollbar {
        height: 0 !important;
      }
    }
    &__item {
      width: 224px;
      flex-shrink: 0;
    }
    .download-btn {
      display: flex;
      width: 224px;
      height: 336px;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      border: 1px solid #e7e7e7;
    }
    &__button {
      display: flex;
      margin: 0;
      padding: 0;
    }
    &__image {
      width: 100%;
    }
  }
}

@media (max-width: 750px) {
  .offer {
    margin-top: 50px;
    margin-bottom: 50px;
    .container {
      padding: 0;
    }
    &__title {
      font-size: 27px;
      padding: 0px 15px;
    }
    .cards__item:first-child {
      margin-left: 15px;
    }
  }
  .cards {
    margin-top: 30px;
    &__item {
      width: 224px;
    }
    &__filter {
      margin-bottom: 40px;
      overflow: hidden;
      overflow-x: auto;
      padding: 0px 15px;
      -ms-overflow-style: none;
      overflow: -moz-scrollbars-none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        height: 0 !important;
      }
      &-start,
      &-link {
        flex-shrink: 0;
      }
    }
  }
}

@media (min-width: 1000px) {
  .offer {
    &__button:hover {
      background: #b0976e;
      color: #ffffff;
      transition: all 500ms ease;
    }
    &__button:active {
      background-color: #927d54;
      border-color: #927d54;
      transition: all 300ms ease;
    }
  }
  .cards__image:hover > img {
    transform: scale(1.05);
    transition: transform 0.4s ease-in-out;
  }
  .cards {
    &__filter-sort:hover,
    &__filter-link:hover {
      color: #333333;
      transition: color 0.3s ease;
    }
  }
}
