.product {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
  max-width: 1920px;
  padding: 70px 90px 90px;
  &__content {
    width: 100%;
    & .offer__button {
      width: 344px;
      margin-bottom: 30px;
    }
    .cards {
      width: 100%;
      margin: 0;
      margin-bottom: 50px;
      &__top {
        display: grid;
        gap: 30px;
        margin-bottom: 50px;
      }
      &__breadcrumbs {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 10px;
        &-btn {
          position: relative;
          display: flex;
          align-items: center;
          padding: 8px 20px 10px 24px;
          background-color: #e7e7e7;
          border-radius: 4px;
          transition: all 0.3s ease;
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          color: #333333;
          cursor: pointer;
          & > span {
            width: 10px;
            height: 10px;
            background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5 4.28568L0.714358 0L7.77904e-05 0.714285L4.28572 4.99996L0 9.28571L0.71428 10L5 5.71425L9.28572 9.99999L10 9.28571L5.71428 4.99996L9.99992 0.714291L9.28564 5.90056e-06L5 4.28568Z' fill='%23333333'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin-left: 12px;
          }
        }
      }
      &__list {
        grid-template-columns: repeat(4, 1fr);
        gap: 50px 17px;
      }
      &__item-color {
        transition: all 0.3s ease;
      }
      &__item-color-inner {
        & > img {
          width: 100%;
          height: 100%;
          border-radius: 50px;
          object-fit: cover;
        }
      }
      &__image {
        max-height: 516px;
      }
      &__colors {
        display: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        text-align: center;
        color: rgba(51, 51, 51, 0.7);
      }
    }
  }
  &__title {
    font-weight: 400;
    font-size: 50px;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 35px;
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__info {
    & > h2 {
      font-weight: 400;
      font-size: 35px;
      line-height: 120%;
      color: #333333;
      margin-bottom: 30px;
    }
    & > p {
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: rgba(51, 51, 51, 0.7);
      &:nth-child(4) {
        margin-bottom: 30px;
      }
      &:last-child {
        margin-top: 30px;
      }
      &:nth-child(2),
      &:nth-child(5) {
        margin-bottom: 40px;
      }
    }
  }
}

.cards__sort {
  display: flex;
  &-item {
    display: flex;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
    input {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
      &:checked ~ span {
        font-weight: 600;
        color: #333333;
      }
    }
    span {
      font-size: 14px;
      line-height: 120%;
      letter-spacing: 0.03em;
      color: rgba(51, 51, 51, 0.5);
      transition: all 0.3s ease;
    }
    i {
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 10V8H5V10H0ZM0 6V4H9V6H0ZM0 2V0H14V2H0Z' fill='%23333333'/%3E%3C/svg%3E%0A");
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 14px;
      margin-right: 11px;
    }
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.tooltip {
  position: absolute;
  pointer-events: none;
  top: -36px;
  left: 0px;
  right: 0px;
  width: fit-content;
  margin: 0 auto;
  padding: 3px 10px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 2px 23px -8px rgba(0, 0, 0, 0.51);
  font-size: 14px;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s ease;
  &::after {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -4px;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    transform: rotate(45deg);
  }
}

.breadcrumbs {
  width: 100%;
  margin-bottom: 30px;
  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 23px;
  }
  &__item {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 16px;
    a,
    span {
      font-weight: 400;
      font-size: 11px;
      line-height: 120%;
      letter-spacing: 0.004em;
      color: #333333;
      cursor: pointer;
    }
    &:not(:last-child) {
      border-bottom: 1px solid rgba(176, 151, 110, 0.5);
      transition: all 0.3s ease;
      &::after {
        position: absolute;
        content: "";
        top: 6px;
        right: -12px;
        background-image: url("data:image/svg+xml,%3Csvg width='4' height='6' viewBox='0 0 4 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L3 3L1 5' stroke='%23333333' stroke-opacity='0.5' stroke-linecap='square'/%3E%3C/svg%3E");
        width: 2px;
        height: 4px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
    &:last-child {
      a,
      span {
        color: #bfaa88;
        cursor: default;
      }
    }
  }
}

.count-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
  &__top {
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
    color: #333333;
    & > span {
      font-weight: 700;
    }
  }
  &__list {
    display: flex;
    gap: 10px;
  }
  &__item {
    display: flex;
    align-items: center;
    padding: 0px 15px;
    height: 38px;
    background-color: #e7e7e7;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
    & > a {
      font-weight: 400;
      font-size: 13px;
      line-height: 140%;
      text-align: center;
      color: #333333;
      cursor: pointer;
    }
    &_active {
      background-color: #333333 !important;
      cursor: default !important;
      & > a {
        color: #ffffff !important;
        cursor: default !important;
      }
    }
  }
}

.cards__price {
  & > span {
    display: none;
    color: rgba(119, 119, 119, 0.7);
    text-decoration: line-through;
    text-decoration-color: #d83244;
    margin-left: 15px;
  }
  &_sale {
    & > span {
      display: inline;
    }
  }
}

@media (max-width: 1450px) {
  .product {
    .cards {
      &__list {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media (max-width: 1200px) {
  .product {
    padding: 70px 40px 120px;
  }
}

@media (max-width: 1000px) {
  .product {
    display: block;
    padding: 40px 20px 70px;
    &__title {
      text-align: center;
      font-size: 35px;
      margin-bottom: 0;
    }
    &__info {
      margin-bottom: 0;
      & > h2 {
        opacity: 1;
        margin-bottom: 20px;
      }
      & > p {
        opacity: 1;
        &:nth-child(2),
        &:nth-child(5) {
          margin-bottom: 30px;
        }
        &:nth-child(4) {
          margin-bottom: 20px;
        }
        &:last-child {
          margin-top: 20px;
        }
      }
    }
    .cards {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
      overflow: hidden;
      overflow-x: auto;
      overflow: -moz-scrollbars-none;
      scrollbar-width: none;
      -ms-overflow-style: none;
      margin-bottom: 70px;
      width: 100%;
      &::-webkit-scrollbar {
        width: 0 !important;
      }
      &__top {
        display: none;
      }
      &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0;
        gap: 40px 16px;
      }
      &__item {
        opacity: 1;
        width: 100%;
      }
      &__image {
        width: 100%;
        margin-bottom: 20px;
      }
    }
    .offer__button {
      display: flex;
    }
  }
  .breadcrumbs {
    margin-bottom: 25px;
    &__list {
      justify-content: center;
    }
  }
  .count-page {
    margin-bottom: 40px;
  }
}

@media (max-width: 750px) {
  .product {
    padding: 20px 15px 50px;
    &__content {
      .offer__button {
        height: 46px;
        width: 100%;
      }
    }
    &__title {
      text-align: start;
      font-size: 25px;
      line-height: 33px;
      letter-spacing: 0.05em;
      margin-bottom: 20px;
    }
    &__info {
      p {
        line-height: 140%;
        &:last-child,
        &:nth-child(7) {
          line-height: 150%;
        }
        &:nth-child(2),
        &:nth-child(5) {
          margin-bottom: 25px;
        }
        &:nth-child(4) {
          margin-bottom: 10px;
        }
      }
      h2 {
        font-size: 23px;
      }
    }
    .count-page__list {
      width: 100%;
      justify-content: start;
    }
    .count-page__item {
      padding: 0px 19px;
      height: 46px;
      &:nth-child(4) {
        display: none;
      }
    }
    .count-page__top {
      display: none;
    }
    .cards {
      margin-bottom: 25px;
      &__list {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px 14px;
        &-colors {
          display: none;
        }
      }
      &__colors {
        display: flex;
        margin-top: 5px;
      }
      &__descr {
        margin-bottom: 5px;
        font-size: 14px;
      }
      &__item {
        width: 100%;
      }
      &__image {
        margin-bottom: 15px;
      }
      &__price {
        font-size: 14px;
        & > span {
          margin-left: 10px;
        }
      }
    }
  }
  .breadcrumbs {
    margin-bottom: 15px;
    &__list {
      justify-content: flex-start;
      overflow: hidden;
      overflow-x: auto;
      overflow: -moz-scrollbars-none;
      scrollbar-width: none;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        height: 0;
        width: 0;
      }
    }
    &__item {
      flex-shrink: 0;
    }
  }
  .count-page {
    margin-bottom: 25px;
  }
}

@media (max-width: 388px) {
  .product {
    .offer__button {
      width: 100%;
    }
  }
}

@media (min-width: 1000px) {
  .cards {
    &__item-color:not(.cards__item-color_active):hover {
      border: 1px solid #c4c4c4;
      transition: all 0.3s ease;
    }
    &__breadcrumbs-btn:hover {
      background-color: rgba(51, 51, 51, 0.2);
      transition: all 0.3s ease;
      .tooltip {
        opacity: 1;
      }
    }
  }
  .count-page__item:not(.count-page__item_active):hover {
    background-color: rgba(51, 51, 51, 0.2);
    transition: all 0.3s ease;
  }
  .cards__sort-item:hover span {
    color: #333333;
  }
}

.breadcrumbs__item:not(:last-child):hover {
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease;
}
