//  Wear main //
.wear {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: #f1ebe2;
  &__container {
    width: 210vw;
    max-width: 8640px;
    height: 100vh;
    display: flex;
  }
  &__text {
    display: none;
  }
}
.gallery {
  height: 100%;
  position: relative;
  &-wrapper {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition-property: transform;
    scrollbar-width: none;
    ::-webkit-scrollbar {
      height: 0px;
      width: 0px;
    }
  }
  &-slide {
    flex-shrink: 0;
    width: 35vw;
    max-width: 1440px;
    height: 100%;
    transition: transform 0.5s ease-in;
  }
  &__text,
  &__card {
    width: 100%;
    height: 100%;
  }
  &__text {
    padding: 120px 800px 0px 90px;
    &-title {
      font-family: "Playfair Display", serif;
      font-weight: 400;
      font-size: 54px;
      line-height: 130%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #333333;
      margin-bottom: 80px;
    }
    &-descr {
      font-size: 21px;
      line-height: 160%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #777777;
      margin-bottom: 120px;
    }
    &-progress {
      overflow: hidden;
      position: relative;
      height: 2px;
      background: rgba(176, 151, 110, 0.4);
      &::before {
        content: "";
        position: absolute;
        left: -130%;
        width: 100%;
        height: 100%;
        background: rgba(176, 151, 110, 0.9);
        animation: progress 4s linear infinite;
      }
    }
  }
  &__card {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    object-fit: cover;
    &::after {
      position: absolute;
      content: "";
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.2;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
      transition: opacity 0.6s ease-in-out;
    }
    &-link {
      position: absolute;
      bottom: 75px;
      left: 80px;
      font-size: 30px;
      line-height: 120%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #ffffff;
      z-index: 1;
    }
  }
}

@keyframes progress {
  0% {
    left: -130%;
    background: rgba(176, 151, 110, 0.9);
  }
  50% {
    left: 130%;
    background: rgba(176, 151, 110, 0.9);
  }
  51% {
    background: rgba(176, 151, 110, 0.9);
  }
  100% {
    background: rgba(176, 151, 110, 0.9);
  }
}
@media (max-width: 3100px) {
  .gallery__text {
    padding: 120px 454px 0px 90px;
  }
}
@media (max-width: 2200px) {
  .gallery__text {
    padding: 120px 263px 0px 90px;
  }
}
@media (max-width: 1650px) {
  .gallery__card-link {
    bottom: 35px;
    left: 40px;
  }
  .gallery__text {
    padding-right: 190px;
    &-title {
      font-size: 36px;
      margin-bottom: 50px;
    }
    &-descr {
      font-size: 14px;
      margin-bottom: 80px;
    }
  }
}
@media (max-width: 1200px) {
  .wear {
    display: flex;
    // overflow-x: auto;
    &__container {
      width: 240vw;
    }
  }
  .gallery-slide {
    width: 40vw;
    &:first-child {
      width: 30vw;
    }
  }
  .gallery__text {
    padding-right: 70px;
    padding-left: 40px;
  }
}
@media (max-width: 1000px) {
  .wear {
    width: 100%;
    height: 624px;
    &__container {
      width: 100%;
      height: 100%;
      &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
      }
      
      &::-webkit-scrollbar-track {
        background: transparent;
        width: 0px;
      }
      
      &::-webkit-scrollbar-thumb {
        background: transparent;
        width: 0px;
        visibility: hidden;
      }
      
      &::-webkit-scrollbar-thumb:window-inactive {
        background: transparent;
        width: 0;
        visibility: hidden;
      }
    }
  }
  .gallery {
    width: 100%;
    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }
    
    &::-webkit-scrollbar-track {
      background: transparent;
      width: 0px;
    }
    
    &::-webkit-scrollbar-thumb {
      background: transparent;
      width: 0px;
      visibility: hidden;
    }
    
    &::-webkit-scrollbar-thumb:window-inactive {
      background: transparent;
      width: 0;
      visibility: hidden;
    }
  }
  .gallery-slide {
    flex-shrink: 0;
    max-width: 307px;
    min-height: 390px;
    width: 100%;
    &:first-child {
      display: none;
    }
  }
  .gallery-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }
    
    &::-webkit-scrollbar-track {
      background: transparent;
      width: 0px;
    }
    
    &::-webkit-scrollbar-thumb {
      background: transparent;
      width: 0px;
      visibility: hidden;
    }
    
    &::-webkit-scrollbar-thumb:window-inactive {
      background: transparent;
      width: 0;
      visibility: hidden;
    }
  }
  .gallery__card-link {
    font-size: 20px;
    bottom: 25px;
    left: 30px;
  }
  .wear__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .wear {
    width: 100%;
    &__text {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      margin-top: 70px;
      margin-bottom: 60px;
      &-title {
        font-family: "Playfair Display", serif;
        font-weight: 400;
        font-size: 36px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #333333;
        margin-bottom: 40px;
      }
      &-descr {
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #777777;
      }
    }
  }
}
@media (max-width: 750px) {
  .wear {
    height: 624px;
    min-height: 624px;
    &__container {
      justify-content: space-between;
    }

    &__text {
      padding: 0px 20px;
      margin-top: 50px;
      margin-bottom: 40px;
      &-title {
        font-size: 27px;
        margin-bottom: 30px;
      }
    }
  }
  .gallery {
    max-height: 390px;
  }
  .gallery-slide {
    max-width: 260px;
  }
}
@media (min-width: 1000px) {
  .gallery-slide {
    &:hover:not(:first-child) {
      transform: scale(1.05);
      transition: transform 0.5s ease-in-out;
    }
    &:hover .gallery__card::after {
      opacity: 1;
      transition: opacity 0.4s ease-in-out;
    }
  }
}
