.wear {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: #f1ebe2;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
  }
  &__container {
    // width: 210vw;
    width: max-content;
    height: 100vh;
    display: flex;
  }
  &__text {
    display: none;
  }
}

.gallery {
  height: 100%;
  position: relative;
  &__wrapper {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition-property: transform;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      width: 0px !important;
      height: 0px !important;
    }
  }
  &__slide {
    position: relative;
    flex-shrink: 0;
    overflow: hidden;
    width: 35vw;
    max-width: 1440px;
    height: 100%;
    &-img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        z-index: 0;
         transition-property: transform;
        transition: transform 0.3s ease 0.4s;
      }
    }
    &-title {
      position: absolute;
      bottom: 75px;
      left: 80px;
      font-size: 30px;
      line-height: 120%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      z-index: 2;
      color: rgb(255, 255, 255, 0.7);
      transition: all 0.4s ease;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 330px 250px;
    &-title {
      font-family: "Playfair Display", serif;
      font-weight: 400;
      font-size: 54px;
      line-height: 130%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #333333;
      margin-bottom: 340px;
    }
    &-descr {
      font-size: 21px;
      line-height: 160%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #777777;
      margin-bottom: 300px;
    }
    &-progress {
      overflow: hidden;
      position: relative;
      width: 581px;
      height: 2px;
      background: rgba(176, 151, 110, 0.4);
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(176, 151, 110, 0.9);
        animation: progress 3s linear infinite;
      }
    }
  }
}

.link-slide {
  margin-left: -1px;
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 102%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    transition: opacity 0.3s ease;
  }
}

@media(max-width:3300px){
  .gallery{
    &__text{
      padding: 120px 90px;
      &-title{
        margin-bottom: 80px;
      }
      &-descr{
        margin-bottom: 120px;
      }
      &-progress{
        width: 210px;
      }
    }
  }
}

@media (max-width: 1650px) {
  .gallery {
    &__slide-title {
      bottom: 35px;
      left: 40px;
    }
    &__text {
      &-title {
        font-size: 36px;
        margin-bottom: 50px;
      }
      &-descr {
        font-size: 14px;
        margin-bottom: 80px;
      }
      &-progress {
        width: 210px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .wear {
    display: flex;
    height: 100vh;
    background-color: #ffffff;
    &__container {
      background-color: #f1ebe2;
      // margin: auto 0px;
      height: 85vh;
    }
  }
  .gallery__text {
    padding-left: 40px;
  }
}

@media (max-width: 1000px) {
  .wear {
    width: 100%;
    height: auto;
    &__container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    &__text {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      margin-top: 70px;
      margin-bottom: 60px;
      &-title {
        font-family: "Playfair Display", serif;
        font-weight: 400;
        font-size: 36px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #333333;
        margin-bottom: 40px;
      }
      &-descr {
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #777777;
      }
    }
  }
  .gallery {
    width: 100%;
    overflow: hidden;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      width: 0px !important;
      height: 0px !important;
    }
    &__wrapper {
      width: auto;
      height: auto;
      display: flex;
      z-index: 0;
      overflow: hidden;
      overflow-x: auto;
      scrollbar-width: none;
    }
    &__slide {
      flex-shrink: 0;
      z-index: 2;
      width: 307px;
      height: 461px;
      &:first-child {
        display: none;
      }
      &-title {
        font-size: 20px;
        bottom: 25px;
        left: 30px;
      }
    }
  }
}

@media (max-width: 750px) {
  .wear {
    &__container {
      justify-content: space-between;
    }

    &__text {
      padding: 0px 20px;
      margin-top: 50px;
      margin-bottom: 40px;
      &-title {
        font-size: 27px;
        margin-bottom: 30px;
      }
    }
  }
  .gallery {
    &__slide {
      width: 260px;
      height: 390px;
    }
  }
}

@media (min-width: 1000px) {
  .link-slide {
    &:hover .gallery__slide-title {
      color: rgb(255, 255, 255, 1);
      transition: all 0.4s ease;
    }
   
    &:hover img {
      transform: scale(1.05);
      transition: transform 0.3s ease 0.4s;
    }
    &:hover::after {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
  }
}
