.filters__container {
  overflow-x: hidden;
  overflow-y: auto;
  height: 400px;
  width: 260px;
}
.filters__btn {
  width: 235px;
  height: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}